.newest-product-wrapper {
    margin: 20px 10px 10px 60px;
    padding: 20px;
    border: none;
    border-radius: 15px;
    background: hsl(0, 0%, 15%);
    position: relative;
}

.newest-product-wrapper::after, .newest-product-wrapper::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), hsl(0, 100%, 20%), darkred, red);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    padding: 2px;
    border-radius: 15px;
    z-index: -1;
    animation: 4s spin linear infinite;
}

.newest-product-wrapper::before {
    filter: blur(.4rem);
    opacity: .5;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes spin {
    from {
        --angle: 0deg
    } to {
        --angle: 360deg
          }
}

.newest-product-container {
    display: flex;
    margin-top: 20px;
    cursor: pointer;
}

.newest-product img {
    width: 400px;
    margin: 10px;
    border: none;
    border-radius: 20px;
    transition: .2s ease;
}

.newest-product img:hover {
    transition: .2s ease;
    transform: scale(1.025);
    box-shadow: 0 0 5px 10px hsl(0, 0%, 5%);
}

.newest-product-label {
    display: grid;
}

.newest-product-label p {
    font-size: 25px;
    margin-top: 2px;
}

.newest-product button {
    margin-top: 30px;
    width: auto;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 8px;
    color: black;
    background: hsl(0, 0%, 95%);
    font-size: 20px;
    transition: .2s ease;
}

.newest-product button:hover {
    background: hsl(0, 0%, 75%);
    transition: .2s ease;
    cursor: pointer;
}