main {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.container-label {
    padding-left: 10px;
}

.contact {
    width: auto;
    height: auto;
}

.top-8-container-wrapper {
    width: auto;
    margin: 10px auto 15px auto;
    padding: 10px;
    border: none;
    border-radius: 15px;
    background: hsl(0, 0%, 15%);
}

.top-8-product-container {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    margin-top: 20px;
    gap: 10px 10px;
}